@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.max-w-326px {
    max-width: 326px;
}
input,
textarea,
button {
    color: white;
}
